
on early-init
    # Apply strict SELinux checking of PROT_EXEC on mmap/mprotect calls.
    write /sys/fs/selinux/checkreqprot 0

    # Set the security context for the init process.
    # This should occur before anything else (e.g. ueventd) is started.
    setcon u:r:init:s0

    start ueventd
    start healthd
    restorecon /system/bin/hwservicemanager
    start hwservicemanager

on init
    # Right now vendor lives on the same filesystem as system,
    # but someday that may change.
    symlink /system/vendor /vendor
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

    mkdir /usb
    mkdir /cust
    mkdir /log
    mkdir /persist 0771 system system
    mkdir /firmware 0771 system system
    mkdir /newsys

    mount /tmp /tmp tmpfs


on fs

    wait /dev/block/platform/bootdevice/by-name/oeminfo
    start oeminfo_nvm
    mount ext4 /dev/block/platform/bootdevice/by-name/log /log
    restorecon /log
    chmod 775 /log
    chown root system /log
    chown logd logd /system/bin/logd

    # Remove a file to wake up anything waiting for firmware
    trigger firmware_mounts_complete

on property:ro.board.platform=mt6765
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_thermal
    chown system system /sys/class/hw_power/charger/charge_data/iin_thermal
    write /sys/class/hw_power/charger/charge_data/iin_thermal 900

# Data Encryption start
on property:vold.decrypt=trigger_shutdown_framework
    class_reset server

on property:vold.decrypt=trigger_load_persist_props
    load_persist_props

on property:vold.decrypt=trigger_post_fs_data
    trigger post-fs-data

on post-fs-data
    start teecd
    trigger post-fs-data_hw
# Data Encryption end

on post-fs-data_hw

    chmod 0660 /dev/vmodem
    chown radio radio /dev/vmodem

    setprop vold.post_fs_data_done 1
    chown root system /dev/ttyAMA3
    chmod 0664 /dev/ttyAMA3
    chown root system /dev/gpstty
    chmod 0664 /dev/gpstty
    chown root system /proc/gps/nstandby
    chmod 0664 /proc/gps/nstandby

on early-boot_hw
on cust_parse_action
    cust_parse

on firmware_mounts_complete
   rm /dev/.booting

on property:odm.androidboot.start_services=true
    mount ext4 /dev/block/platform/bootdevice/by-name/cache /cache
    wait /dev/block/platform/bootdevice/by-name/userdata
    mount f2fs /dev/block/platform/bootdevice/by-name/userdata /data nosuid nodev noatime discard,inline_data,inline_xattr
    mount ext4 /dev/block/platform/bootdevice/by-name/log /log
    restorecon /log
    chmod 775 /log
    chown root system /log
    trigger post-fs_hw
    trigger post-fs-data_hw
    trigger early-boot_hw
    trigger boot
    setprop recovery.load_finish true

on property:odm.recovery.start_all_srv=true
    #for the reason that init cust policy dirs
    trigger cust_parse_action
    # Load properties from /system/ + /factory after fs mount. Place
    # this in another action so that the load will be scheduled after the prior
    # issued fs triggers have completed.
    trigger load_all_props_action
    setprop odm.sys.system.serv run
    load_hwcust_prop_for_recovery
    load_persist_props
    start logd
    start atcmdserver
    #start statusd
    start keymaster-3-0

on property:androidboot.start_services=true && property:ro.runmode=factory
    #start fmd

on property:factory_reset.stop_srv=true
    #stop all srv that occupy data when in factory reset
    stop applogcat
    stop rillogcat
    stop sleeplogcat

# Data Encryption start
on property:vold.decrypt=trigger_shutdown_framework
    class_reset server

on property:vold.decrypt=trigger_load_persist_props
    load_persist_props

on property:vold.decrypt=trigger_post_fs_data
    trigger post-fs-data
# Data Encryption end


service hwservicemanager /sbin/hwservicemanager
    user root
    disabled
    group root
    seclabel  u:r:hwservicemanager:s0
    onrestart class_reset hal
    onrestart setprop hwservicemanager.ready false
    writepid /dev/cpuset/system-background/tasks

service keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service
    class early_hal
    user system
    group system drmrpc

service hdbd /sbin/hdbd --root_seclabel=u:r:su:s0 --device_banner=recovery
    disabled
    socket hdbd stream 660 system system
    seclabel u:r:adbd:s0

service logd /system/bin/logd
    socket logd stream 0666 logd logd
    socket logdr seqpacket 0666 logd logd
    socket logdw dgram 0222 logd logd
    file /proc/kmsg r
    file /dev/kmsg w
    user logd
    group logd system package_info readproc
    capabilities SYSLOG AUDIT_CONTROL SETGID
    disabled
    seclabel u:r:logd:s0

service tombstoned /system/bin/tombstoned
    user tombstoned
    group system

    # Don't start tombstoned until after the real /data is mounted.
    class late_start

    socket tombstoned_crash seqpacket 0666 system system
    socket tombstoned_intercept seqpacket 0666 system system
    socket tombstoned_java_trace seqpacket 0666 system system
    writepid /dev/cpuset/system-background/tasks /dev/blkio/system-background/tasks /dev/stune/system-background/tasks

# secure os tee agent
service teecd /vendor/bin/teecd
    disabled
    user root
    group root readproc
    seclabel u:r:tee:s0


# Used to disable USB when switching states
on property:sys.usb.config=none && property:sys.usb.configfs=0
    stop adbd
    stop hdbd
    setprop sys.usb.ffs.ready 0
    setprop sys.usb.ffs_hdb.ready 0
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rmdir /config/usb_gadget/g1/functions/rndis.gs4
    setprop sys.usb.state ${sys.usb.config}

service console /system/bin/sh
    class core
    console
    disabled
    user root
    group root

on property:ro.debuggable=1
    start console



on property:odm.sys.system.serv=run
    class_start server
    setprop odm.sys.system.serv up
service atcmdserver  /vendor/bin/atcmdserver
    class server
    user root
    group root system nfc
    oneshot
    disabled
    seclabel u:r:atcmdserver:s0

service oeminfo_nvm /vendor/bin/oeminfo_nvm_server
    group system readproc root
    critical
    ioprio rt 4
    seclabel u:r:oeminfo_nvm:s0
service xlogctl_service /sbin/xlogcat-early -t 0
    class server
    user root
    oneshot
    seclabel u:r:xlogcat:s0

service xlogview_service /sbin/xlogcat-early -t 2
    class server
    user root
    disabled
    oneshot
    seclabel u:r:xlogcat:s0

service faclog_service /system/bin/factory_log_service -m 2
    class server
    user root
    disabled
    oneshot
    seclabel u:r:faclogservice:s0

service modemlogcat  /vendor/bin/modemlogcat_lte -l
    class server
    disabled
    oneshot

service applogcat /system/bin/logcatz -t 1 -z 10 -n 5 -f /data/log/android_logs/applogcat-log
    class server
    user root
    disabled
    seclabel u:r:glogcat:s0

service rillogcat /system/bin/logcatz -t 3 -z 5 -n 5 -f /data/log/android_logs/rillogcat-log
    class server
    user root
    disabled
    seclabel u:r:glogcat:s0

service kmsglogcat /sbin/xlogcat-early -b kmsglogcat
    user root
    disabled
    seclabel u:r:xlogcat:s0

service chargelogcat /sbin/xlogcat-early -b chargelogcat-r
    class server
    user root
    disabled
    seclabel u:r:xlogcat:s0

service sleeplogcat /sbin/hilogcat-early -b sleeplogcat
    class server
    user root
    disabled
    seclabel u:r:xlogcat:s0

service kmsgcat_cp /sbin/xlogcat-early -b kmsgcat_cp
    class server
    user root
    disabled
    seclabel u:r:xlogcat:s0


on boot
# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

#service hdbd /sbin/hdbd
service hdbd /sbin/hdbd --root_seclabel=u:r:su:s0
    class core
    socket hdbd stream 660 system system
    disabled
    seclabel u:r:adbd:s0

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 107f
    #DTS2017052506583 leipengcheng lwx446408    20170602 begin
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    #DTS2017052506583 leipengcheng lwx446408    20170602 end
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start hdbd


on property:sys.usb.test=adb,acm
    stop adbd
    setprop sys.usb.ffs.ready 0
    setprop sys.usb.function adb,acm
    write /config/usb_gadget/g1/UDC "none"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    write /sys/class/udc/musb-hdrc/device/cmode 1
    start adbd
    setprop sys.usb.config adb,acm

on property:sys.usb.ffs.ready=1 && property:sys.usb.function=adb,acm && property:sys.usb.config=adb,acm
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "adb_acm"
    write /config/usb_gadget/g1/idProduct 0x107F
    write /config/usb_gadget/g1/idVendor 0x12D1
    write /sys/devices/platform/mt_usb/saving 1
    symlink /config/usb_gadget/g1/functions/mass_storage.usb0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/acm.gs0 /config/usb_gadget/g1/configs/b.1/f3
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:odm.recovery.start_all_srv=false
    start xlogctl_service

service vold_recovery /system/bin/vold \
        --blkid_context=u:r:blkid:s0 --blkid_untrusted_context=u:r:blkid_untrusted:s0 \
        --fsck_context=u:r:fsck:s0 --fsck_untrusted_context=u:r:fsck_untrusted:s0
    class core
    socket vold stream 0660 root mount
    socket cryptd stream 0660 root mount
    socket cryptd2 stream 0660 root mount
    ioprio be 2
    group system
    writepid /dev/cpuset/foreground/tasks /dev/blkio/foreground/tasks

on apply_file_decryption
    exec u:r:fsck:s0 -- /sbin/fsck.f2fs_s -p1 /dev/block/bootdevice/by-name/userdata

on property:ro.logsystem.usertype=*
    write /proc/log-usertype ${ro.logsystem.usertype}

on property:vold.status=start
    exec /system/bin/vdc --wait cryptfs enablefilecrypto
    init_user0
    unlock_user0_key
    setprop vold.status end

